/* Home.css */
.masthead {
  background-color: #f8f9fa;
}

.features {
  background-color: #4C6DAA;
  color: #FFFFFF;
}

.features .text-center h2 {
  color: #FFFFFF;
}

.features .text-center i {
  color: #FFFFFF;
}

.features .text-center h3 {
  color: #FFFFFF;
}

.features .text-center p {
  color: #FFFFFF;
}

.app-mockup {
  max-width: 80px;
}
