/* LoginForm.css */

body {
    background-color: #f0f2f5; /* Light grey background for the page */
}

.container {
    padding-top: 5%;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-left {
    font-size: 24px;
    font-weight: bold;
    color: #4C6DAA; /* Bright blue color */
}

.header-right .logo {
    width: 60px;
    height: auto;
}

.card-title {
    color: #333; /* Dark grey color for text */
    margin-bottom: 20px;
}

.form-label {
    color: #555; /* Medium grey color for labels */
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.form-control:focus {
    border-color: #4C6DAA; /* Bright blue color for focus */
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25); /* Light blue shadow for focus */
}

.btn-primary {
    background-color: #4C6DAA; /* Bright blue color for button */
    border-color: #4C6DAA;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #4C6DAA; /* Darker blue color for hover */
    border-color: #4C6DAA;
}
