<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFFFF; direction: rtl;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" style="color: #4C6DAA">الرئيسية</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <ng-container *ngIf="isAuthenticated$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" style="color: #4C6DAA">لوحة التحكم</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/driver-list" routerLinkActive="active" style="color: #4C6DAA">السائقين</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user-list" routerLinkActive="active" style="color: #4C6DAA">المستخدمين</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/rider-list" routerLinkActive="active" style="color: #4C6DAA">الركاب</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin-list" routerLinkActive="active" style="color: #4C6DAA">الإداريين</a>
          </li>
        </ng-container>

        <ng-container *ngIf="!(isAuthenticated$ | async)">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active" style="color: #4C6DAA">تسجيل الدخول</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active" style="color: #4C6DAA">انشاء حساب</a>
          </li>
        </ng-container>

        <li class="nav-item">
          <a class="nav-link" routerLink="/privacy-policy" routerLinkActive="active" style="color: #4C6DAA">سياسة الخصوصية</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated$ | async">
          <button class="btn btn-link nav-link" (click)="handleLogout()" style="color: #4C6DAA">تسجيل الخروج</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid mt-3">
  <router-outlet></router-outlet>
</div>
